.objects {
    background: var(--fon);
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 35px;
        padding-bottom: 40px;
        border-bottom: 1px solid var(--cherta);
        .card__image {
            height: 275px;
        }
    }
}